<div class="card mb-3 post-list">
</div>

<template id="post-template">
  <div class="card-body post-card mb-3" data-post-id="">
    <div class="d-flex align-items-center">
      <img class="rounded-circle" alt="Profile" width="50" src="https://via.placeholder.com/50.png?text=Profile">
      <div class="ms-3 user-info">
        <h5 class="mb-0 mt-user-name"></h5>
        <div class="d-flex align-items-center mt-1">
          <span class="mt-time-post"></span>
          <i class="fas fa-globe ms-2"></i>
        </div>
      </div>
    </div>
    <p class="mt-2 mt-content"></p>
    <img class="img-fluid rounded mt-image" alt="Post Image" src="">

    <div class="container mt-3">
      <div id="comments-container" class="list-group content-comment-list">
        <!-- Comments sẽ được thêm vào đây -->
      </div>
    </div>

    <div class="mt-3 comment-section" data-controller="comment">
      <input class="form-control mt-post-id" type="hidden" name="comment[post_id]" value="" id="post_id" data-comment-target="post_id">
      <input type="text" class="form-control comment-input" name="comment[context]"  data-action="keypress.enter->comment#handleEnter once" data-comment-target="content" placeholder="Write a comment...">
    </div>

    <div class="d-flex justify-content-center mt-3" data-controller="comment">
      <input class="form-control cmt-post-id" type="hidden" name="comment[post_id]" value="" id="post_id" data-comment-target="post_id">
      <input class="form-control current_page" type="hidden" name="comment[current_page]" value="" id="current_page" data-comment-target="current_page">
        <button id="view-more-btn" 
                class="btn btn-primary view-more-btn" 
                data-action="click->comment#viewMoreComments">
          View More Comments
        </button>
      </div>
    <!-- Like, Comment, Share Buttons -->
    <div class="d-flex justify-content-start mt-3">
      <button class="btn btn-light btn-sm me-2"><i class="fas fa-thumbs-up me-1"></i>Like</button>
      <button class="btn btn-light btn-sm me-2"><i class="fas fa-comment me-1"></i>Comment</button>
      <button class="btn btn-light btn-sm"><i class="fas fa-share me-1"></i>Share</button>
    </div>
  </div>
</template>

<template id="comment-template">
  <div class="d-flex align-items-start mb-3">
    <img class="rounded-circle-comment me-3" alt="Profile" width="40" src="https://via.placeholder.com/40.png?text=Profile">
    <div class="flex-grow-1">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <strong class="cmt-user-name"></strong>
          <span class="text-muted ms-2 cmt-created-at"></span>
        </div>
        <button class="btn btn-link text-muted p-0">Delete</button>
      </div>
      <p class="cmt-content mb-0"></p>
    </div>
  </div>
</template>
