
<div class="card">
    <div class="card-body">
        <h5>Photos</h5>
        <div class="d-flex flex-wrap">
            <%= image_tag 'https://via.placeholder.com/150.png?text=Profile+Picture', class: 'img-thumbnail', alt: 'Photo 1', width: '90' %>
            <%= image_tag 'https://via.placeholder.com/150.png?text=Profile+Picture', class: 'img-thumbnail ms-2', alt: 'Photo 2', width: '90' %>
        </div>
        <a href="#" class="d-block mt-2">See All Photos</a>
    </div>
</div>
